Repository ultrasoundmoney/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @shekhirin, @joshieDo

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/revm/src/            @rakita
crates/revm/                @mattsse
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/consensus/auto-seal  @mattsse
crates/consensus/beacon     @rkrasiuk @mattsse @Rjected
crates/trie                 @rkrasiuk
crates/blockchain-tree      @rakita @rkrasiuk
crates/metrics              @onbjerg
crates/tracing              @onbjerg
crates/tasks                @mattsse
crates/prune                @shekhirin @joshieDo
.github/                    @onbjerg @gakonst

feat(validation): per-mode payment checks for gloas builder submissions
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept EIP-8282 builder requests in gloas submissions
  Cargo.lock
  Cargo.toml
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(rpc): let builder submission v6 opt out of the payment check
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(rpc): show a zero-value bid rejected when the fee recipient spends
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

fix(rpc): skip the payment check for a zero-value builder submission
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept EIP-8282 builder requests in gloas submissions
  Cargo.lock
  Cargo.toml
Owners: @gakonst

test(validation): cover EIP-8282 builder exits and mixed request blocks
  .github/workflows/docker-git.yml
  crates/rpc/rpc/src/validation.rs
Owners: @onbjerg, @gakonst, @mattsse, @Rjected

test(validation): cover builder requests on the V6 JSON body
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

refactor(validation): use parking_lot::RwLock for the disallow list
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(ofac-api): add a task that fetches ofac blacklist from our own ofac-api service periodically every 5mins to update inner disallow list (#7)
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

perf(validation): only read the disallow list for OFAC-filtered requests
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept proposer payments via the PaymentForwarder
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept a list of payment forwarders
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): reproduce a valid forwarder payment failing ensure_payment
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

fix(validation): resolve the forwarder code hash from the actual state
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

fix(validation): don't fail payment validation for merged blocks if last txn is from relay signer
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): prove the transaction filter reaches the V6 handler
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore: cargo fmt
  crates/ethereum/node/src/node.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

docs(cli): regenerate the node reference for builder.disallow-url
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @gakonst

test(validation): cover EIP-8282 builder exits and mixed request blocks
  .github/workflows/docker-git.yml
  crates/rpc/rpc/src/validation.rs
Owners: @onbjerg, @gakonst, @mattsse, @Rjected

feat(validation): accept EIP-8282 builder requests in gloas submissions
  Cargo.lock
  Cargo.toml
Owners: @gakonst

feat(validation): accept proposer payments via the PaymentForwarder
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

test(validation): reproduce a valid forwarder payment failing ensure_payment
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

refactor(validation): use parking_lot::RwLock for the disallow list
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(ofac-api): add a task that fetches ofac blacklist from our own ofac-api service periodically every 5mins to update inner disallow list (#7)
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

feat(validation): accept a list of payment forwarders
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

perf(validation): only read the disallow list for OFAC-filtered requests
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): cover builder requests on the V6 JSON body
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

docs(cli): regenerate the node reference for builder.disallow-url
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @gakonst

fix(validation): don't fail payment validation for merged blocks if last txn is from relay signer
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): cover the forwarder payment rejections through ensure_payment
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): prove the transaction filter reaches the V6 handler
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore: cargo fmt
  crates/ethereum/node/src/node.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix(validation): resolve the forwarder code hash from the actual state
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(deps): point the alloy patch at alloy main plus the plumbing commit
  Cargo.lock
  Cargo.toml
Owners: @gakonst
