Repository ultrasoundmoney/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @shekhirin, @joshieDo

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/revm/src/            @rakita
crates/revm/                @mattsse
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/consensus/auto-seal  @mattsse
crates/consensus/beacon     @rkrasiuk @mattsse @Rjected
crates/trie                 @rkrasiuk
crates/blockchain-tree      @rakita @rkrasiuk
crates/metrics              @onbjerg
crates/tracing              @onbjerg
crates/tasks                @mattsse
crates/prune                @shekhirin @joshieDo
.github/                    @onbjerg @gakonst

Adjust to new ExecutionPayload struct type
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Change type of signature argument to string
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Convert execution payload into block
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Use untagged serde deserialization for ExecutionPayload
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Owners: @mattsse, @Rjected

Add full rpc test message
  crates/rpc/rpc-types/test_data/validation/rpc_message.json
Owners: @mattsse, @Rjected

Log out parsed block
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Return block hash from validation rpc endpoint
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Add test for validation endpoint
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
Owners: @mattsse, @Rjected

Replace blockHash in execution_payload testdata
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
Owners: @mattsse, @Rjected

Call full_validation in validate rpc method
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Add AccountReader everywhere the compiler asked for it
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @onbjerg, @mattsse, @Rjected, @rakita, @joshieDo

Revert "Replace blockHash in execution_payload testdata"
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
Owners: @mattsse, @Rjected

Create new Struct for ExecutionPayload to enable number deserialization as decimal
  Cargo.lock
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

Return validation error to rpc caller
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Improve error handling
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

remove unused task_spawner
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

remove unused message and signature arguments
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/validation/message.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/message.json
  crates/rpc/rpc-types/test_data/validation/rpc_message.json
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Cargo fmt
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @onbjerg, @mattsse, @Rjected, @rakita, @joshieDo

Clippy
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @mattsse, @Rjected, @rakita, @joshieDo

Add test to try transaction decoding
  crates/primitives/src/transaction/mod.rs
Owners: @gakonst

First attempt at handling snake_case by copying ExecutionPayload implementation
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-types/src/lib.rs
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc-types/src/validation/message.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
  crates/rpc/rpc-types/test_data/validation/message.json
Owners: @mattsse, @Rjected

Change test data to camelCase and reuse existing ExecutionPayload struct
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc-types/src/validation/message.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
  crates/rpc/rpc-types/test_data/validation/message.json
Owners: @mattsse, @Rjected

Skeleton code for api implementation
  crates/rpc/rpc/src/lib.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Add validation api to rpc builder
  crates/rpc/rpc-builder/src/lib.rs
Owners: @mattsse, @Rjected

Fix build errors in rpc-api/validation
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
Owners: @mattsse, @Rjected

Change type of signature argument to string
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Convert execution payload into block
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Log out parsed block
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Add full rpc test message
  crates/rpc/rpc-types/test_data/validation/rpc_message.json
Owners: @mattsse, @Rjected

Replace blockHash in execution_payload testdata
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
Owners: @mattsse, @Rjected

Call full_validation in validate rpc method
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Return block hash from validation rpc endpoint
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Use untagged serde deserialization for ExecutionPayload
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Owners: @mattsse, @Rjected

Add test for validation endpoint
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
Owners: @mattsse, @Rjected

Adjust to new ExecutionPayload struct type
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Revert "Replace blockHash in execution_payload testdata"
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
Owners: @mattsse, @Rjected

Add AccountReader everywhere the compiler asked for it
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @onbjerg, @mattsse, @Rjected, @rakita, @joshieDo

Create new Struct for ExecutionPayload to enable number deserialization as decimal
  Cargo.lock
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/execution_payload.json
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

Return validation error to rpc caller
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Improve error handling
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected
