Repository ultrasoundmoney/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @shekhirin, @joshieDo

Clippy
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @mattsse, @Rjected, @rakita, @joshieDo

remove unused message and signature arguments
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/validation/message.rs
  crates/rpc/rpc-types/src/validation/mod.rs
  crates/rpc/rpc-types/test_data/validation/message.json
  crates/rpc/rpc-types/test_data/validation/rpc_message.json
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Cargo fmt
  bin/reth/src/args/rpc_server_args.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/validation/execution_payload.rs
  crates/rpc/rpc/src/result.rs
  crates/rpc/rpc/src/validation.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @onbjerg, @mattsse, @Rjected, @rakita, @joshieDo

remove unused task_spawner
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

Fix build errors
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @mattsse, @Rjected, @rakita, @joshieDo

Add test with altered block header
  crates/rpc/rpc-builder/tests/it/http.rs
Owners: @mattsse, @Rjected

Remove unneeded signature test
  crates/primitives/src/transaction/mod.rs
Owners: @gakonst

Add additional re exports
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/lib.rs
  crates/rpc/rpc-types/src/eth/mod.rs
Owners: @gakonst, @onbjerg, @mattsse, @Rjected

Remove mistaken Withdrawal reexport
  crates/rpc/rpc-types/src/eth/mod.rs
Owners: @mattsse, @Rjected

Add ToRpcResult implementation for SealedBlock and RethResult
  crates/rpc/rpc/src/result.rs
Owners: @mattsse, @Rjected

Export rpc/result
  crates/rpc/rpc/src/lib.rs
  crates/rpc/rpc/src/result.rs
Owners: @mattsse, @Rjected

re export reth_rpc:result
  bin/reth/src/lib.rs
Owners: @onbjerg

Add AccountReader trait / implementation where necessary
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/ext.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/storage/provider/src/providers/mod.rs
Owners: @onbjerg, @mattsse, @Rjected, @rakita, @joshieDo

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
Owners: @onbjerg, @gakonst

chore(docker-nightly): disable daily nightly img build
  .github/workflows/docker-nightly.yml
Owners: @onbjerg, @gakonst

chore(sync-era): disable cron
  .github/workflows/sync-era.yml
Owners: @onbjerg, @gakonst

chore: update superchain config
  crates/optimism/chainspec/res/superchain_registry_commit
  crates/optimism/chainspec/src/superchain/chain_specs.rs
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
Owners: @onbjerg, @gakonst

chore(docker-nightly): disable daily nightly img build
  .github/workflows/docker-nightly.yml
Owners: @onbjerg, @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
Owners: @onbjerg, @gakonst

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/revm/src/            @rakita
crates/revm/                @mattsse
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/consensus/auto-seal  @mattsse
crates/consensus/beacon     @rkrasiuk @mattsse @Rjected
crates/trie                 @rkrasiuk
crates/blockchain-tree      @rakita @rkrasiuk
crates/metrics              @onbjerg
crates/tracing              @onbjerg
crates/tasks                @mattsse
crates/prune                @shekhirin @joshieDo
.github/                    @onbjerg @gakonst
