Repository ultrasoundmoney/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @shekhirin, @joshieDo

feat(validation): make sure proposer is getting paid the promised amount for merged blocks
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(validation): make sure proposer is getting paid the promised amount for merged blocks (#23)
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept ssz-encoded v5 validation requests on a new port
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/lib.rs
  crates/ethereum/node/src/node.rs
  crates/ethereum/node/src/validation_ssz.rs
  crates/node/core/src/args/rpc_server.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @gakonst

feat(validation): accept ssz-encoded v5 validation requests on a new port (#24)
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/lib.rs
  crates/ethereum/node/src/node.rs
  crates/ethereum/node/src/validation_ssz.rs
  crates/node/core/src/args/rpc_server.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

chore(deps): bump alloy to 2.5.0 and drop the alloy fork patch
  Cargo.lock
  Cargo.toml
Owners: @gakonst

feat(validation): accept ssz-encoded v6 validation requests
  crates/ethereum/node/src/validation_ssz.rs
Owners: @gakonst

chore(txpool): backtick doc links for nightly clippy doc_markdown
  crates/transaction-pool/src/pool/state.rs
Owners: @mattsse

ci(lint): pin the nightly toolchain to nightly-2026-09-28
  .github/workflows/lint.yml
Owners: @onbjerg, @gakonst

feat(rpc): devnet adjustment-data endpoint for builder-side proofs
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/revm/src/            @rakita
crates/revm/                @mattsse
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/consensus/auto-seal  @mattsse
crates/consensus/beacon     @rkrasiuk @mattsse @Rjected
crates/trie                 @rkrasiuk
crates/blockchain-tree      @rakita @rkrasiuk
crates/metrics              @onbjerg
crates/tracing              @onbjerg
crates/tasks                @mattsse
crates/prune                @shekhirin @joshieDo
.github/                    @onbjerg @gakonst
