Repository ultrasoundmoney/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @shekhirin, @joshieDo

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
Owners: @onbjerg, @gakonst

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
  scripts/build_and_push_docker.sh
Owners: @onbjerg, @gakonst

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
  scripts/build_and_push_docker.sh
Owners: @onbjerg, @gakonst

feat(validation): support mev protect flag
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): enable per-request transaction filtering
  Cargo.lock
  crates/rpc/rpc-api/Cargo.toml
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/validation.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

chore(docker-git): modify build for ultra sound
  .github/workflows/docker-git.yml
  Makefile
  scripts/build_and_push_docker.sh
Owners: @onbjerg, @gakonst

fix: missing filter check
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(validation): bump to reth v2.2
  Cross.toml
  crates/rpc/rpc-api/src/validation.rs
  rust-toolchain.toml
Owners: @gakonst, @mattsse, @Rjected

feat(ofac-api): add a task that fetches ofac blacklist from our own ofac-api service periodically every 5mins to update inner disallow list
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

feat(ofac-api): add a task that fetches ofac blacklist from our own ofac-api service periodically every 5mins to update inner disallow list (#7)
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/rpc-builder/src/config.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

refactor(validation): use parking_lot::RwLock for the disallow list
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

perf(validation): only read the disallow list for OFAC-filtered requests
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

refactor(validation): use parking_lot::RwLock for the disallow list
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

perf(validation): only read the disallow list for OFAC-filtered requests
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

ci(docker-git): skip discarded arch compile for single-arch builds
  Makefile
Owners: @gakonst

feat(validation): accept proposer payments via the PaymentForwarder
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): make the PaymentForwarder address configurable
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept proposer payments via the PaymentForwarder
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept proposer payments via the PaymentForwarder
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept a list of payment forwarders
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): accept a list of payment forwarders
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): cover the forwarder payment decision
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore: cargo fmt
  crates/ethereum/node/src/node.rs
  crates/rpc/rpc/src/validation.rs
Owners: @gakonst, @mattsse, @Rjected

chore: dprint fmt rust-toolchain.toml
  rust-toolchain.toml
Owners: @gakonst

fix(validation): resolve the forwarder code hash from the actual state
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

test(validation): reproduce a valid forwarder payment failing ensure_payment
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

fix(validation): don't fail payment validation for merged blocks if last txn is from relay signer
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

feat(validation): make sure proposer is getting paid the promised amount for merged blocks
  crates/rpc/rpc/src/validation.rs
Owners: @mattsse, @Rjected

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/revm/src/            @rakita
crates/revm/                @mattsse
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/consensus/auto-seal  @mattsse
crates/consensus/beacon     @rkrasiuk @mattsse @Rjected
crates/trie                 @rkrasiuk
crates/blockchain-tree      @rakita @rkrasiuk
crates/metrics              @onbjerg
crates/tracing              @onbjerg
crates/tasks                @mattsse
crates/prune                @shekhirin @joshieDo
.github/                    @onbjerg @gakonst
